 body {
    background-color: white;
    padding: 0;
    margin: 0;
    font-family: 'Tajawal', sans-serif;
}



#header {
    height: 80px;
    width: 100%;
    
}


#header img {
    width: 14%;
    height: 70px;
    margin-left: 700px;

    

}

#container {
    width: 100%;
    height: 700px;
    display: flex;
}

#sidebar {
    width: 40%;
    height: 700px;
    padding-left: 20%;
    padding-top: 5%;

}

#gambar img {
    width: 70%;
    height: 350px;
}

#teks {
    font-size: 23px;
    
}

#teks1 {
 padding-top: 10px;
 color: grey;
 font-size: 15px;

}


#sidebar2 {
    width: 60%;
    height: 700px;
    padding-top: 50px;
}

#kotak {
    height: 450px;
    width:55% ;
    padding-top: 30px;
    box-shadow:  0 0 3px  rgba(0,0,0,0.6);
    background-color: white;

    
}

#teks2 {
    font-size: 30px;
    text-align: center;
    margin-top: 5px;
}

#masuk {
    display: flex;
   color: rgb(9, 192, 9);
   font-weight: bold;
   cursor: pointer;
   margin-left: 3px;
}
#masuk:hover{
    color: red;
}

#teks3 {
    font-size:18px;
    display: flex;
    padding-bottom: 10px;
    margin-left: 85px;
    color: gray;
}

#login {
    display: flex;
    width: 80%;
    height: 40px;
    padding-top: 30px;
    
}
#facebook  {
    width: 70%;
    height: 45px;
    display: flex;
    background-color: white;
    margin-right: 5px;
    border-radius: 5px;
    margin-left: 30px;
    box-shadow:  0 0 2px  grey;  
    cursor: pointer;
}

#facebook:hover {
    background-color:gainsboro;
}



#facebook img {
    height: 25px;
    width: 25px;
    padding-top: 10px;
    padding-left: 5px;
    cursor: pointer;

}



#f {
    margin-left: 10px;
    padding-top: 15px;
    
}




#google {
    width: 70%;
    height: 45px;
    display: flex;
    background-color: white;
    margin-left: 15px;
    border-radius: 5px;
    box-shadow:  0 0 2px  gray;
    cursor: pointer;
}

#google:hover {
    background-color: gainsboro;
}

#google img {
    height: 20px;
    width: 20px;
    padding-top: 10px;
    padding-left: 5px;
}

#g {
    margin-left: 20px;
    padding-top: 10px;
}
#teks4 {
    text-align: center;
    padding-top: 30px;
    display: flex;
    color: gray;
    
    

}
#teks41 {
    display: flex;
    font-size: 13px;
}
#garis1 {
    background-color:gainsboro;
    height: 1pt;
    width: 80px;
    display: flex;
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 30px;
}

#garis2 {
    background-color:gainsboro;
    height: 1px;
    width: 80px;
    display: flex;
    margin-top: 10px;
    margin-left: 30px;
}



#teks5 {
    padding-top: 10px;
    margin-left: 30px;
    font-size: 15px;
    color: gray;
}


#telepon {
    padding-top: 10px;
    margin-left: 30px;
}



#telepon input {
    width: 80%;
    height: 50px;
    border: none;
    border-radius: 5px;
    padding-left: 5px;
    box-shadow:  0 0 2px  gray;
    cursor: auto;
}
#telepon input:hover {
    /* border: lawngreen; */
}

#telepon input:focus{
    border-color: lawngreen;

}

#contoh {
    padding-top: 5px;
    margin-left: 30px;
    color: grey;
    font-size: 12px;
}


#daftar {
    padding-top:10px ;
    margin-left:30px ;
    
}

#daftar input {
    width: 80%;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: green;
    color: white;
}

#teks6 {
    margin-left: 80px;
    padding-top: 20px;
    color: gray;
    font-size: 15px;
}

#teks7 {
    margin-left:50px ;
    padding-top: 10px;
    display: flex;
    font-size: 15px;
    color:gray;
}

#syarat {
      color: green;
      display: flex;
      margin-right: 5px;
      cursor: pointer;
  }
#syarat:hover{
    color: red;
}

#privasi {
    color: green;
    display: flex;
    margin-left: 5px;
    cursor: pointer;
}
#privasi:hover{
    color: red;
}


#footer {
    display: flex;
    margin-left: 130px;
    padding-top: 20px;
}

#bantuan {
    display:flex;
    color: green;
    margin-left: 10px;
    cursor: pointer;
}

#bantuan:hover{
    color:red;
}

#garis {
    width: 100%;
    height:1px;
    background-color:gainsboro;
    
}






